color-border-dark= #323232
color-subject= #0000ff
color-price= #008000
color-darkest= #000000
color-lightest= #ffffff
color-button-light= #ffa500

transition(n)
  -webkit-transition n
  -moz-transition n
  -o-transition n
  -ms-transition n
  transition n

border-radius(n)
  -o-border-radius n
  -webkit-border-radius n
  -ms-border-radius n
  -moz-border-radius n
  border-radius n
  
body  
  font-size 15px
  for num in 1 2 3
    foo num

.box-section
  padding 30px 0

.box-common
  border 1px solid color-border-dark
  margin 0 0 30px 0
  position relative
  overflow hidden
  &:hover
    border none
    .box-common-hover
      bottom 0px
      transition all 0.3s ease-in-out
    .image-container
    .content-container
      visibility hidden

.image-container
  img
    width 100%
    border-bottom 1px solid color-border-dark

.subject
  color color-subject-text
  text-transform uppercase
  float left
  font-weight bold

.price
  color color-price
  float right
  font-weight bold

.date
  color color-border-dark
  float left

.class
  color color-darkest
  float right

.content-container
  padding 20px
  p
    margin 15px 0px

.learn-btn
  @extends .image-container img
  background-color color-button-light
  color color-lightest
  border 1px solid color-button-light
  border-radius 0px
  text-transform uppercase
  font-size 14px
  padding 20px
  font-weight bold

.box-common-hover
  position absolute
  bottom 100%
  border 1px solid color-border-dark

.content-container-hover
  padding 45px
  p
    margin 30px 0

block = 
    width: 10px;
    height: 20px;

.block-assign
  {block}

for num in (1..3)
    .border-{num}
        border 1px * num solid blue