transition(n)
  -webkit-transition n
  -moz-transition n
  -o-transition n
  -ms-transition n
  transition n

border-radius(n)
  -o-border-radius n
  -webkit-border-radius n
  -ms-border-radius n
  -moz-border-radius n
  border-radius n
  
.box-section
  padding 30px 0

.box-common
  border 1px solid #323232
  margin 0 0 30px 0
  position relative
  overflow hidden
  &:hover
    border none
    .box-common-hover
      bottom 0px
      transition all 0.3s ease-in-out
    .image-container
    .content-container
      visibility hidden

.image-container
  img
    width 100%
    border-bottom 1px solid #323232

.subject
  font-size 15px
  color #00f
  text-transform uppercase
  float left
  font-weight bold

.price
  font-size 15px
  color #008000
  float right
  font-weight bold

.date
  font-size 15px
  color #323232
  float left

.class
  font-size 15px
  color #000
  float right

.content-container
  padding 20px
  p
    margin 15px 0px
    font-size 15px

.learn-btn
  background-color #ffa500
  color #fff
  border 1px solid #ffa500
  width 100%
  border-radius 0px
  text-transform uppercase
  font-size 14px
  padding 20px
  font-weight bold

.box-common-hover
  position absolute
  bottom 100%
  border 1px solid #323232

.content-container-hover
  padding 45px
  p
    margin 30px 0

