color-primary=  grayscale(#fd0cc7)
color-secondary= lighten(#2c2c2c, 30)
color-lightest= #ffffff
color-darkest= #000000
color-blue= #0000FF
color-red= #FF0000 
color-green= #00FF00
color-yellow= #FFFF00
color-orange= #FFA500
color-purple= #551A8B

html,
body
  overflow-x hidden

body
  padding-top 70px

.navbar
  background-color color-primary !important
  a
    color color-lightest

.nav 
  li 
    a
     &:focus, &:hover
      background-color color-lightest
      color color-primary

.btn-default
  background-color color-primary
  border-color color-primary
  color color-lightest

.list-group-item
  &.active
    background-color color-primary
    border-color color-primary
    &:focus, &:hover
      @extends .list-group-item.active

.navbar-toggle
  background-color color-lightest
  .icon-bar
    background-color color-primary

footer
  padding 30px 0

.color-box-main
  position fixed
  left 0px
  top 30%
  .color-box-inner
    width 50px
    height 50px
    border 1px solid color-darkest
    cursor pointer
  .color-box1
    background-color color-blue
  .color-box2
    background-color color-red
  .color-box3
    background-color color-green
  .color-box4
    background-color color-yellow
  .color-box5
    background-color color-orange
  .color-box6
    background-color color-purple
