html,
body {
  overflow-x: hidden;
}
body {
  padding-top: 70px;
}
.navbar {
  background-color: #858585;
}
.navbar a {
  color: #fff;
}
.nav li a:focus,
.nav li a:hover {
  background-color: #fff;
  color: #858585;
}
.btn-default {
  background-color: #858585;
  border-color: #858585;
  color: #fff;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #858585;
  border-color: #858585;
}
.navbar-toggle {
  background-color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #858585;
}
footer {
  padding: 30px 0;
}
.color-box-main {
  position: fixed;
  left: 0px;
  top: 30%;
}
.color-box-main .color-box-inner {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
}
.color-box-main .color-box1 {
  background-color: #2f92ee;
}
.color-box-main .color-box2 {
  background-color: #fc4242;
}
.color-box-main .color-box3 {
  background-color: #3fc35f;
}
.color-box-main .color-box4 {
  background-color: #f2d438;
}
.color-box-main .color-box5 {
  background-color: #ff6e41;
}
.color-box-main .color-box6 {
  background-color: #c762cb;
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}
.back-to-top i {
  padding: 4px 0;
}
.contact-overlay {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 9999;
  transition: all 0.3s ease 0s;
}
.contact-overlay .contact-inner {
  width: 50%;
  margin: 100px auto;
}
.contact-overlay .contact-inner h1 {
  text-align: center;
}
.contact-overlay .contact-inner .close-contact {
  float: right;
  font-size: 25px;
  cursor: pointer;
}
.contact-overlay.active {
  opacity: 1;
  visibility: visible;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown button {
  background-color: #ff6223;
  color: #fff;
  border: none;
  margin: 0;
  padding: 10px 33px;
}
.dropdown a {
  background-color: #ccc;
  color: #333;
  padding: 10px 20px !important;
}
.dropdown a:hover {
  background-color: #bbb;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  padding: 0;
}
#services {
  text-align: center;
  background-color: #ccc;
  padding: 150px 0 0 0;
  height: 100%;
}
#about {
  text-align: center;
  background-color: #fff;
  padding: 150px 0 0 0;
  height: 100%;
}
.stick {
  position: fixed;
  top: 65px;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0px;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/Preloader_8.gif") center no-repeat #fff;
}
