html,
body {
  overflow-x: hidden;
}
body {
  padding-top: 70px;
}
.navbar {
  background-color: #858585 !important;
}
.navbar a {
  color: #fff;
}
.nav li a:focus,
.nav li a:hover {
  background-color: #fff;
  color: #858585;
}
.btn-default {
  background-color: #858585;
  border-color: #858585;
  color: #fff;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #858585;
  border-color: #858585;
}
.navbar-toggle {
  background-color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #858585;
}
footer {
  padding: 30px 0;
}
