html,
body {
  overflow-x: hidden;
}
body {
  padding-top: 70px;
}
.navbar {
  background-color: #858585;
}
.navbar a {
  color: #fff;
}
.nav li a:focus,
.nav li a:hover {
  background-color: #fff;
  color: #858585;
}
.btn-default {
  background-color: #858585;
  border-color: #858585;
  color: #fff;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #858585;
  border-color: #858585;
}
.navbar-toggle {
  background-color: #fff;
}
.navbar-toggle .icon-bar {
  background-color: #858585;
}
footer {
  padding: 30px 0;
}
.color-box-main {
  position: fixed;
  left: 0px;
  top: 30%;
}
.color-box-main .color-box-inner {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
}
.color-box-main .color-box1 {
  background-color: #2f92ee;
}
.color-box-main .color-box2 {
  background-color: #fc4242;
}
.color-box-main .color-box3 {
  background-color: #3fc35f;
}
.color-box-main .color-box4 {
  background-color: #f2d438;
}
.color-box-main .color-box5 {
  background-color: #ff6e41;
}
.color-box-main .color-box6 {
  background-color: #c762cb;
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}
.back-to-top i {
  padding: 4px 0;
}
